.DS_Store
node_modules/*
*.zip
.scssc
wp-admin/*
wp-includes/*
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-content/languages/*
wp-content/upgrade/*
wp-content/uploads/*
wp-content/themes/index.php
wp-content/themes/twentytwentyone/*
wp-content/themes/twentytwentytwo/*
wp-content/themes/twentytwentythree/*
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
